/* USER WORKSPACE */

.userworkspace {
  background-color: #f0f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  margin: auto;
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-color: #6998ab;
  border-width: 20px;
}
