.App {
  margin: 2px;
  padding: 0;
}

:root {
  --primary-background-colour: #f0f6f9;
  --switch-ball-colour: #f0f6f9;
  --panel-inner-colour: #f0f6f9;
  --navbar-colour: #6998ab;
  --panel-outer-colour: #6998ab;
  --score-colour: #406882;
  --button-colour: #1a374d;
  --score-outline-colour: #1a374d;
  --switch-background-colour: #000000;
  --switch-icon-colour: #ffe300;
}

.dark-mode {
  --primary-background-colour: #1a374d;
  --switch-ball-colour: #1a374d;
  --panel-inner-colour: #000000;
  --navbar-colour: #406882;
  --panel-outer-colour: #406882;
  --score-colour: #406882;
  --button-colour: #6998ab;
  --score-outline-colour: #6998ab;
  --switch-background-colour: #6998ab;
  --switch-icon-colour: #f0f6f9;
}

body {
  text-align: center;
  background-repeat: repeat;
  justify-content: center;
  align-items: center;
  background: #f0f6f9;
}

.switch-container {
  margin-bottom: 5px;
}

label {
  display: flex;
  width: 60px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

label i {
  font-size: 18px;
  transition: 0.3s;
}

input:checked + label {
  background: #6998ab;
}

label .fa-sun {
  color: #ffe300;
  transition: 0.3s;
  opacity: 1;
}

input:checked + label .fa-sun {
  transform: translateX(-43px) rotate(160deg);
  opacity: 0;
}

label .fa-moon {
  color: #f0f6f9;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(43px) rotate(250deg);
}

input:checked + label .fa-moon {
  transform: translateX(0) rotate(0);
  opacity: 1;
}

label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #f0f6f9;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label .ball {
  transform: translateX(37px);
  background: #1a374d;
}

.dark-mode-input {
  display: none;
}

/* NAVBAR */

.navbar {
  height: 20px;
  width: 100px;
  background-color: var(--navbar-colour);
}

/* USER CHOICE */

.userchoice {
  background-color: var(--panel-outer-colour);
  height: 100px;
  width: 50px;
}

/* USER WORKSPACE */

.userworkspace {
  background-color: var(--panel-outer-colour);
  height: 100px;
  width: 50px;
}

.form-user-choice {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 1em;
}

.btn-choice-frontend {
  display: flex;
  width: 70px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
  margin-right: 5px;
  background-color: #6998ab;
}

.btn-choice-backend {
  display: flex;
  width: 70px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
  margin-right: 5px;
  background-color: #6998ab;
}

/* NAVBAR */
/* .nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
} */
