.App {
  text-align: center;
  margin: 1.5%;
}

:root {
  --1: #000000;
  --2: #ffe300;

  --3: #f0f6f9;
  --4: #6998ab;
  --5: #406882;
  --6: #1a374d;

  /* --background-color: #fff;
  --primary-text-color: #222;
  --secondary-text-color: #444; */
}

.dark-mode {
  --1: #000000;
  --2: #f0f6f9;
  --3: #6998ab;
  --4: #406882;
  --5: #1a374d;

  /* --background-color: #3e4c59;
  --primary-text-color: #fff;
  --secondary-text-color: #ddd; */
}

body {
  text-align: center;
  background-repeat: repeat;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

.switch-container {
  margin-bottom: -60px;
}

label {
  display: flex;
  width: 60px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

label i {
  font-size: 18px;
  transition: 0.3s;
}

input:checked + label {
  background: #c0c0c0;
}

label .fa-sun {
  color: gold;
  transition: 0.3s;
  opacity: 1;
}

input:checked + label .fa-sun {
  transform: translateX(-43px) rotate(160deg);
  opacity: 0;
}

label .fa-moon {
  color: #fff;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(43px) rotate(250deg);
}

input:checked + label .fa-moon {
  transform: translateX(0) rotate(0);
  opacity: 1;
}

label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label .ball {
  transform: translateX(37px);
  background: #222;
}

input {
  display: none;
}
