/* DARK MODE */

.switch-container {
  margin-bottom: 5px;
}

label {
  display: flex;
  width: 60px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

label i {
  font-size: 18px;
  transition: 0.3s;
}

input:checked + label {
  background: #6998ab;
}

label .fa-sun {
  color: #ffe300;
  transition: 0.3s;
  opacity: 1;
}

input:checked + label .fa-sun {
  transform: translateX(-43px) rotate(160deg);
  opacity: 0;
}

label .fa-moon {
  color: #f0f6f9;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(43px) rotate(250deg);
}

input:checked + label .fa-moon {
  transform: translateX(0) rotate(0);
  opacity: 1;
}

label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #f0f6f9;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label .ball {
  transform: translateX(37px);
  background: #1a374d;
}

.dark-mode-input {
  display: none;
}
